<html>

<head>
	<title>Algar ETL</title>
	<link rel="StyleSheet" href="/static/styles/style.css" type="text/css">
	<script type="text/javascript" src="/static/js/functions.js"></script>
	<script type="text/javascript" src="/static/js/tree.js"></script>

	<script type="text/javascript">
		function jsShowPidDetail(pid) {
			const elementos = document.querySelectorAll('[id^="pid' + pid + '"]');
			elementos.forEach(el => {
				el.style.display = el.style.display == 'none' ? '' : 'none';
			});
		}

		function jsCheckAbort(x) {
			ajax("/info", { "name": "check_abort", "batch_id":x, "sql_pars": [] }, function (a) {
				alert( a.message );
				window.location.reload();
			}, null);

		}

		function list_process_running() {

			ajax("/info", { "name": "dashboard_index", "sql_pars": [] }, function (a) {
				document.all.id_memory.innerHTML = a.memory.message;
				document.all.id_memory.querySelectorAll("table")[0].className = 'table_detail';

				document.all.id_process_running.innerHTML = a.process_running.message;
				document.all.id_process_running.querySelectorAll("table")[0].className = 'table_detail';


				document.all.id_process_aborted.innerHTML = a.process_aborted.message;
				document.getElementById('id_table_proc').className = 'table_detail';
				document.getElementById('id_table_proc').querySelectorAll("tr").forEach( (row, index) => {
					if ( index > 0 ) {
						if (row.cells[4].innerHTML != "ALGARSCHEDULER") {
							row.cells[1].innerHTML = '<a href="/designer?job_name=' + row.cells[1].innerHTML + '" target=__blank>' + row.cells[1].innerHTML + '</a>';
						}

						row.cells[6].innerHTML = "-";
						if (row.cells[0].innerHTML == "A") {
							row.cells[6].innerHTML = '<a href=# onclick=jsCheckAbort(' + row.cells[2].innerHTML + ')>check</a>';
						}

						row.cells[2].innerHTML = '<a href=/logger?batch_id=' + row.cells[2].innerHTML + ' target=LOGG>' + row.cells[2].innerHTML + '</a>';
						if (row.cells[0].innerHTML == "F") row.cells[0].innerHTML = "🟢";
						if (row.cells[0].innerHTML == "A") row.cells[0].innerHTML = "🟥";
						if (row.cells[0].innerHTML == "E") row.cells[0].innerHTML = "🔷";
						if (row.cells[0].innerHTML == "K") row.cells[0].innerHTML = "❌";

					}
				});				

			}, null);
		}


		function jsClearAppTemp() {
			alert("em construção");
		}


		function jsKillProcess(pid) {
			if (confirm("Are you sure you want to kill the process " + pid + "?")) {
				ajax("/info", { "name": "kill_process", "pid": pid }, function (a) {
					alert(a.message);
				}, null);
			}

		}
	</SCRIPT>
</head>

<body>
	<div class="menu">
		<button onclick="window.location.reload()">Reload Repository</button> &nbsp;
		<button onclick="window.open('/designer?job_name=newjob')">Create new Job</button> &nbsp;
		<button onclick="window.open('/globals')">Parameters Globals</button> &nbsp;
		<button onclick="window.open('/sequences')">Sequences</button> &nbsp;
		<button onclick="window.open('/monitor')">Dashboard Process</button> &nbsp;

		<div id="id_title_page" class="titles_toolbar" style="cursor: pointer" onclick="window.open('/logout')">Logout:
			{{ login }}</div>
	</div>


	<div class="container">
		<div class="div-esquerda">
			<div class="area">
				<script type="text/javascript">
					const csvData = `{{treeview}}`.trim();
					const treeNodes = parseCsvToTreeArray(csvData);
					createTree(treeNodes);
				</script>
			</div>
		</div>

		<div class="div-direita">
			<div class="area">
				<span class="titulo">Memory|Disk|CPU|IO Monitor </span>
				<div class="div_pre" id="id_memory"></div>
				<br>
		
				<span class="titulo">Process Running Now (SO)</span>
				<div class="div_pre" id="id_process_running"></div>
				<br>

				<span class="titulo">Monitor Process (Timeled) </span> <!-- 🟢 - OK | 🟥 - ABORTED | 🔷 - IN EXECUTION | ❌ - FINISHED WITH WARNINGS -->
				<div class="div_pre" id="id_process_aborted"></div>
			</div>

		</div>

	</div>




	<script>
		list_process_running();
		setInterval(list_process_running, 30000);
	</script>
</body>

</html>
