<html>

<head>
	<title>MoMoStage Designer - {{job_name}}</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/static/js/functions.js"></script>
	<link rel="StyleSheet" href="/static/styles/tree.css" type="text/css">

    <script>
        var job_name          = '{{job_name}}';
        var job_pars          = '{{job_pars}}';
        var job_folders_name  = '{{job_folders_name}}';
        var g_objeto;



        //#####################################################################################################
        //
        //#####################################################################################################






        function js_log_by_id() {
            $.ajax({url:"/job_logger",type:"POST",data:{"job_logger_id":document.all.id_logger_job_id.value}, success:function(a){
                document.all.id_view_log_text.innerHTML = a;
            }});
        }

        function js_log_lotes() {
            document.all.id_view_log.style.display = document.all.id_view_log.style.display == 'block' ? 'hidden' : 'block';
            $.ajax({url:"/job_logger_lotes",type:"POST",data:{"job_name":job_name}, success:function(a){
                document.all.id_view_log_lotes.innerHTML = a;
                document.all.id_view_log_text.innerHTML = '';
                js_log_by_id();
            }});
        }


        
        function js_log_big_view(rid) {
            $.ajax({url:"/job_logger_big",type:"POST",data:{"rid":rid}, success:function(ret){
                a = window.open('');
                a.document.body.innerHTML = ret;
            }});
        }



        function js_job_config_sh(opt) {
                document.all.id_job_sh.style.display = (opt == 1) ? 'block' : '';
        }


        function js_job_execute() {
            job_pars_salvar = ' ';
            parametros       = job_pars.trim().split("/");
            if (parametros.length > 0) {
                for (i = 0; i < parametros.length; i++) {
                    if ( parametros[i] != '' ) {
                        job_pars_salvar = job_pars_salvar + ' -param ' + parametros[i] + '="' + document.getElementById('id_parametro_run_' + parametros[i]).value + '"';
                    }
                }                
            }

            if ( confirm("Can execute?" + job_pars_salvar ) ) {
                $.ajax({url:"/job_execute",type:"POST",data:{"job_name":job_name, "job_pars_salvar":job_pars_salvar}, success:function(forms){
                    alert(forms);
                }});
            }            
        }


        function js_job_save_new() {
            job_name         = document.all.P_NEWJOB_NAME.value;
            job_folders_name = document.all.P_NEWJOB_PROJECT.value + "|" + document.all.P_NEWJOB_FOLDER.value;
            document.all.id_save_job_parameters.style.display = '';
            setTitles();
        }
        
        


        function js_job_save() {
            var attrs_transf = {};

            if (job_name == 'newjob') {
                document.all.id_save_job_parameters.style.display = 'block';
                return;
            }

            data = {"job_name"         : job_name, 
                    "job_components"   : g_components.join(","),
                    "job_folders_name" : job_folders_name,
                    "C_JOB_SH_BEFORE"  : document.all.C_JOB_SH_BEFORE.value,
                    "C_JOB_SH_AFTER"   : document.all.C_JOB_SH_AFTER.value,
                    "TRANSFORM_DATA"   : document.all.TRANSFORM_DATA.value,
                    "TRANSFORM_FILTER" : document.all.TRANSFORM_FILTER.value,
                    "TRANSFORM_LOOKUPS": document.all.TRANSFORM_LOOKUPS.value
            };

            data_populate(data, ['DATASETS'], 'id_dataset');
            data_populate(data, g_components, 'id_origin', "ORIG_");
            data_populate(data, g_components, 'id_target', "TARGET_");

            $.ajax({url:"/job_save",type:"POST",data:data, success:function(forms){
                alert(forms);
            }});        
        }


        function js_job_load() {
            if (job_name == 'newjob') {
                    return;    
            }

            dados = { 
                "job_name":job_name, 
                "job_components":g_components.join(",")
            };

            $.ajax({ url:"/job_load", type:"POST",data:dados, success:function(forms){
                document.all.id_origin.innerHTML     = forms.JOB['origem'];
                document.all.id_transf.innerHTML     = forms.JOB['transform'];
                document.all.id_target.innerHTML     = forms.JOB['destino'];
                document.all.id_dataset.innerHTML    = forms.JOB['dataset'];

                document.all.TRANSFORM_DATA.value    = forms.TRANSFORM_DATA;
                document.all.TRANSFORM_FILTER.value  = forms.TRANSFORM_FILTER;
                document.all.TRANSFORM_LOOKUPS.value = forms.TRANSFORM_LOOKUPS;
                document.all.C_JOB_SH_AFTER.value    = forms.C_JOB_SH_AFTER;
                document.all.C_JOB_SH_BEFORE.value   = forms.C_JOB_SH_BEFORE;

                Object.entries(forms).forEach(([key, value]) => {
                        if (key.startsWith("COMP")) {
                            info = key.split(".");
                            document.getElementById(info[0]).attributes[info[1]] = value;
                        }
                    });

            }});            
        }
        
        



        function jsComponentSave() {
            local     = g_objeto.attributes['local'].value;
            type      = g_objeto.attributes['type_obj'].value;
            nome      = document.getElementById("C_" + type.toUpperCase() + "_NAME" );

            g_objeto.attributes['C_NAME'] = ( nome != null ) ? nome.value : "";
            g_objeto.attributes['C_TYPE'] = type;
            data_put(g_components, g_objeto);
            g_objeto.parentElement.getElementsByTagName("span")[0].innerHTML = g_objeto.attributes['C_NAME'];
            document.getElementById('id_' + type + '_edit').style.display  = 'none';
        }   


        function jsComponentAction(obj, act) {
            g_objeto  = obj.parentElement.parentElement.getElementsByTagName('input')[0]
            local     = g_objeto.attributes['local'].value;
            type      = g_objeto.attributes['type_obj'].value;
            
            if (act == 1) {
                if (local == "dataset") {
                    v = g_objeto.attributes['DATASETS'];
                    a = prompt('Input Dataset:',v);
                    g_objeto.attributes['DATASETS'] = a;
                    g_objeto.parentElement.querySelector("span").innerHTML = a.split("/").pop();
                    return;
                }
                document.getElementById('id_' + type + '_edit').style.display  = 'block';
                

                nome = document.getElementById("C_" + type.toUpperCase() + "_NAME" );
                if ( nome != null )
                  nome.value = g_objeto.attributes['C_NAME'] || 'name_comp';

                data_get(g_objeto.attributes, g_components , local);
            
            } else {
                obj.parentElement.parentElement.remove();
            }
        }



        function jsComponentActionAdd(obj, local) {
            elems = document.getElementById('id_' + local).getElementsByTagName('input');

            if ( local == "origin" && elems.length > 0) {
                alert("Just 1 input permit.");
                return;
            }

            if ( local == "transf" && elems.length > 0) {
                alert("Just 1 transf permit.");
                return;
            }            

            menu           = '<div class="dropdown-content"><a href="#" onClick="jsComponentAction(this, 1)">Edit</a><a href="#" onClick="jsComponentAction(this, 2)">Remove</a></div>';
            ooo            = obj.parentElement.parentElement.getElementsByTagName('input')[0];
            txt            = '<input local="' + local + '" class=dropbtn type=image type_obj="' + ooo.attributes['type_obj'].value + '" src="' + ooo.src + '">';
            node           = document.createElement("div");
            node.className = "dropdown";
            node.innerHTML = txt + menu + "<br><span></span>";
            document.getElementById('id_' + local).appendChild(node);
        }

    </script>
</head>




<body>
    <div class="menu">
        <input type="button" class="botao" value="Save"          onclick="js_job_save()">
        <input type="button" class="botao" value="View Log"      onclick="js_log_lotes()">
        <input type="button" class="botao" value="Run"           onclick="document.all.id_job_run.style.display = 'block';">
        <input type="button" class="botao" value="Config Job Sh" onclick="js_job_config_sh(1)">
        <span id="id_title_page"></span>
    </div>




    <div class="content">
        <div class="column1" align=center>
            <div class="dropdown"><input class="dropbtn"  type=image src=/static/img/icon_sql.png       type_obj="sql">     <br>Database {{menu1}}    </div><br><br>
            <div class="dropdown"><input class="dropbtn"  type=image src=/static/img/icon_filename.png  type_obj="filename"><br>CSV {{menu1}}         </div><br><br>
            <div class="dropdown"><input class="dropbtn"  type=image src=/static/img/icon_odata.png     type_obj="odata">   <br>ODATA/SAP {{menu2}}   </div><br><br>
            <div class="dropdown"><input class="dropbtn"  type=image src=/static/img/icon_dataset.png   type_obj="dataset"> <br>Dataset {{menu4}}     </div><br><br>
            <div class="dropdown"><input class="dropbtn"  type=image src=/static/img/icon_transf.png    type_obj="transf">  <br>Transformer {{menu3}} </div><br><br>
            <div class="dropdown"><input class="dropbtn"  type=image src=/static/img/icon_boto3.png     type_obj="boto3">   <br>S3(AWS) {{menu1}}     </div><br><br>
            <div class="dropdown"><input class="dropbtn"  type=image src=/static/img/icon_xml.png       type_obj="xml">     <br>XML {{menu1}}         </div><br><br>
        </div>


        <div class="column2">
            <table class="table_job" width=100%  height="100%" id="id_tabela">
                <tr>
                    <td align=center width="300" id="id_origin"></td>
                    <td align=center width="300" id="id_transf"></td>
                    <td align=center width="300" id="id_target"></td>
                    <td align=center             id="id_dataset"></td>
                </tr>
            </table>                
        </div>
    </div>




    <div id="id_view_log" class="itools_modal">
        <div class="itools_modal_content">
            <span class="itools_modal_close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
            <h2>View Logger</h2>
            <div id="id_view_log_lotes"></div>
            <pre id="id_view_log_text" style="font-size: 12;"></pre>
        </div>  
    </div>


    <div id="id_transf_edit" class="itools_modal">
        <div class="itools_modal_content">
        <span class="itools_modal_close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2>Transform Editor</h2>
            <table >
                <tr><td colspan="2">Filter : <input type="text" id="TRANSFORM_FILTER"><hr></td> </tr>
                <tr><td>Rules</td>  <td>Datasets</td> </tr>
                <tr><td valign="top"><textarea wrap="off" rows="10" cols="40" id="TRANSFORM_DATA"></textarea> 
                    <td valign="top"><textarea wrap="off" rows="10" cols="40" id="TRANSFORM_LOOKUPS"></textarea> </td></tr>
                <tr><td colspan="2"><input type="button" value="Save" onclick="jsComponentSave()"></td> </tr>
            </table>
        </div>  
    </div>


    <div id="id_dataset_edit" class="itools_modal">
        <div class="itools_modal_content">
        <span class="itools_modal_close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2>Dataset Editor</h2>
            <table >
                <tr><td>Name</td><td> <input type="text" id="C_DATASET_NAME"></td> </tr>
                <tr><td>Path Dataset</td><td> <input type="text" id="C_DATASET"></td> </tr>
                <tr><td>Fields </td><td> <textarea id="C_DATASET_FIELDS" rows="10"></textarea></td> </tr>
                <tr><td colspan="2"><input type="button" value="Save" onclick="jsComponentSave()"></td> </tr>
            </table>
        </div>  
    </div>  

    <div id="id_filename_edit" class="itools_modal">
        <div class="itools_modal_content">
        <span class="itools_modal_close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2>Filename Editor</h2>
            <table >
                <tr><td>Name</td><td> <input type="text" id="C_FILENAME_NAME"></td> </tr>
                <tr><td>Path Filename</td><td> <input type="text" id="C_FILENAME"></td> </tr>
                <tr><td>File Required</td><td><input type="checkbox" id="C_FILENAME_FILE_REQUIRED"></td> </tr>
                <tr><td>Fields Delimiter </td><td><input type="text" id="C_FILENAME_FD"></td> </tr>
                <tr><td>Fields </td><td> <textarea id="C_FILENAME_FIELDS"></textarea></td> </tr>
                <tr><td colspan="2"><input type="button" value="Save" onclick="jsComponentSave()"></td> </tr>
            </table>
        </div>  
    </div>    


    <div id="id_odata_edit" class="itools_modal">
        <div class="itools_modal_content">
        <span class="itools_modal_close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2>OData Editor</h2>
            <table >
                <tr><td>Name</td><td> <input type="text" id="C_ODATA_NAME"></td> </tr>
                <tr><td>URL</td><td> <input type="text" id="C_ODATA_URL" size="70"></td> </tr>
                <tr><td>Thread Count </td><td><select id="C_ODATA_TH_COUNT">
                    <option value="1">1</option>
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                </select>   </td> </tr>

                <tr><td>Thread Records by Page</td><td><input type=text id="C_ODATA_TH_SIZE" value="10000"></td> </tr>

                <tr><td>Autentication</td><td><select id="C_ODATA_AUTH" ></select></td> </tr>
                <tr><td>Fields </td><td> <textarea id="C_ODATA_FIELDS" rows="10"></textarea></td> </tr>
                <tr><td colspan="2"><input type="button" value="Save" onclick="jsComponentSave()"></td> </tr>
            </table>
        </div>  
    </div>    


    <div id="id_boto3_edit" class="itools_modal">
        <div class="itools_modal_content">
        <span class="itools_modal_close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2>S3 Editor</h2>
            <table >
                <tr><td>Name</td><td> <input type="text" id="C_BOTO3_NAME"></td> </tr>
                <tr><td>Select Bucket </td><td><select id="C_BOTO3_BUCKET"></select>   </td> </tr>
                <tr><td>Remote FileName</td><td><input type=text id="C_BOTO3_FILENAME"></td> </tr>
                <tr><td>Field Delimitter</td><td><input type=text id="C_BOTO3_FD"></td> </tr>
                <tr><td>Fields </td><td> <textarea id="C_BOTO3_FIELDS" rows="10"></textarea></td> </tr>

                <tr>
                    <td>Format Data</td>
                    <td>
                        <select id="C_BOTO3_FORMAT">
                            <option value="txt">txt</option>
                            <option value="txt_gzip">txt compressed</option>
                            <option value="pqt">parquet</option>
                        </select>   
                    </td>
                </tr>

                <tr><td colspan="2"><input type="button" value="Save" onclick="jsComponentSave()"></td> </tr>
            </table>
        </div>  
    </div>    



    <div id="id_xml_edit" class="itools_modal">
        <div class="itools_modal_content">
        <span class="itools_modal_close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2>XML Editor</h2>
            <table >
                <tr><td>Name</td><td> <input type="text" id="C_XML_NAME"></td> </tr>
                <tr><td>FileName</td><td><input type=text id="C_XML_FILENAME"></td> </tr>
                <tr><td>File Required</td><td><input type="checkbox" id="C_XML_FILE_REQUIRED"></td> </tr>
                <tr><td>Fields </td><td> <textarea id="C_XML_FIELDS" rows="10"></textarea></td> </tr>
                

                <tr><td colspan="2"><input type="button" value="Save" onclick="jsComponentSave()"></td> </tr>
            </table>
        </div>  
    </div>        


    <div id="id_sql_edit" class="itools_modal">
        <div class="itools_modal_content">
        <span class="itools_modal_close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2>Database Editor</h2>
            <table >
                <tr><td>Name</td><td> <input type="text" id="C_SQL_NAME"></td> </tr>
                <tr><td>Database</td><td> <select id="C_SQL_DB"></select></td> </tr>

                <tr><td>SQL Type </td><td><select id="C_SQL_TYPE">
                    <option value="Insert">Insert</option>
                    <option value="Update Then Insert">Update Then Insert</option>
                </select>   </td> </tr>
                <tr><td>SQL Auto</td><td> <input type="checkbox" id="C_SQL_AUTO"></td> </tr>

                <tr valign="top">
                    <td >SQL</td><td><textarea id="C_SQL" rows="5" cols="80"></textarea></td>
                </tr>
                <tr valign="top">
                    <td >SQL Before</td><td><textarea id="C_SQL_BEFORE" rows="5" cols="80"></textarea></td>
                </tr>
                <tr valign="top">
                    <td >SQL After</td><td><textarea id="C_SQL_AFTER" rows="5" cols="80"></textarea></td>
                </tr>
                <tr valign="top">
                    <td >SQL Fields</td><td><textarea id="C_SQL_FIELDS" rows="5" cols="80"></textarea></td>
                </tr>                                                        

                <tr><td colspan="2"><input type="button" value="Save" onclick="jsComponentSave()"></td> </tr>
            </table>
        </div>  
    </div>   
    

    <div id="id_save_job_parameters" class="itools_modal">
        <div class="itools_modal_content">
        <span class="itools_modal_close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2>
            Save New Job Details
        </h2>
            <table >
                <tr><td>Project</td><td><select id="P_NEWJOB_PROJECT"></select></td> </tr>
                <tr><td>Folder</td><td><input type="text" id="P_NEWJOB_FOLDER" style="text-transform: uppercase;"></td> </tr>
                <tr><td>Job Name</td><td><input type="text" id="P_NEWJOB_NAME"></td></tr>
                <tr><td colspan="2"><input type="button" value="Save" onclick="js_job_save_new()"></td> </tr>
            </table>
        </div>  
    </div> 



    <div id="id_job_sh" class="itools_modal">
        <div class="itools_modal_content">
            <span class="itools_modal_close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
            <h2>Config Job Pre/After Shell</h2>
            <table >
                <tr><td>Before</td><td><textarea id="C_JOB_SH_BEFORE" rows="5" cols="80"></textarea></td> </tr>
                <tr><td>After</td><td><textarea id="C_JOB_SH_AFTER" rows="5" cols="80"></textarea></td> </tr>
                <tr><td colspan="2"><input type="button" value="Save" onclick="js_job_config_sh(2)"></td> </tr>
            </table>
        </div>  
    </div> 



    <div id="id_job_run" class="itools_modal">
        <div class="itools_modal_content">
            <span class="itools_modal_close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
            <h2>Parameters Job</h2>
            <table >
                <tbody id="tabela_id_job_run">
                </tbody>
            </table>
            <hr>
            <input type=button value=Execute onClick=js_job_execute()>
        </div>  
    </div>     



    <script> 
        fill_combo(document.all.C_BOTO3_BUCKET   , '{{CBO_BOTO3}}'    )
        fill_combo(document.all.P_NEWJOB_PROJECT , '{{CBO_PROJETOS}}' )
        fill_combo(document.all.C_SQL_DB         , '{{CBO_DATABASES}}')
        fill_combo(document.all.C_ODATA_AUTH     , '{{CBO_AUTHS_SAP}}')        

        js_job_load(); 
        setTitles();

        parametros = job_pars.trim().split("/");
        job_table  = '  ';
        for (i = 0; i < parametros.length; i++) {
            if ( parametros[i] != '' ) {
                job_table = job_table + "<tr><td>" + parametros[i] +"</td><td><input type=text id=id_parametro_run_" + parametros[i]+ "></td></tr>";
            }
        }
        document.all.tabela_id_job_run.innerHTML = job_table;
    </script>

</body>
</html>
